asn1crypto==0.24.0
attrs==19.2.0
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.0
chardet==3.0.4
configparser==4.0.2
cryptography==2.1.4
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
functools32==3.2.3.post2
gyp==0.1
idna==2.6
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
Jinja2==2.10.3
jsonschema==3.0.2
jupyter-core==4.5.0
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
pycrypto==2.6.1
Pygments==2.4.2
pygobject==3.26.1
PyPDF2==1.26.0
pyrsistent==0.15.4
pyxdg==0.25
scandir==1.7
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.12.0
testpath==0.4.2
traitlets==4.3.3
virtualenv==16.7.5
wcwidth==0.1.7
webencodings==0.5.1
